.DS_Store
/frontend/node_modules/
/frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/backend/app/config/parameters.yml
/backend/build/
/backend/phpunit.xml
/backend/var/*
!/backend/var/cache
/backend/var/cache/*
!/backendvar/cache/.gitkeep
!/backend/var/logs
/backend/var/logs/*
!/backendvar/logs/.gitkeep
!/backend/var/sessions
/backend/var/sessions/*
!/backendvar/sessions/.gitkeep
!/backendvar/SymfonyRequirements.php
/backend/vendor/
/backend/web/bundles/